
$mobile:  320px;
$tablet:  740px;
$desktop: 980px;
$wide:    1300px;

$btn-min-wdt: 6rem;

$color-main: #AAE825;
//$color-main: #afd275;
//$color-main: #86c232;
//$color-main: #9fedd7;
//$color-main: #b5daeb;
//$color-main: #fed7a6;
$color-main-darker: darken($color-main, 7);
$color-text-main: black;
$color-text-invert: white;

body{
  margin: 0;
  font-family: Calibri
}
main{
  margin: 0;
}
.c-content{
  margin: 0 1rem;
}

.c-nav_up-li_header{
  display: block;
  margin-right: 2rem;
  background: $color-main;
  a{
    text-decoration: none;
    color: $color-text-main;
    background: $color-main;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
  }
}

.c-content{
  display: flex;
  flex-direction: column;
  font-family: Calibri;
}

/*  --- NAV ---  */
ul{
  list-style-type: none;
}
.c-nav{
  width: 100%;
  object-fit: contain;
  margin: 0;
 }
.c-nav_up{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 1rem 0;
  align-items: center;
}
.c-nav_up-li{
  display: block;
  margin-right: 0.5rem;
  a{
    text-decoration: none;
    color: $color-text-main;
  }
}

/*  --- VIDEO ---  */
.c-box{
  background: black;
  width: 100%;
  height: 40rem;
}

/*  --- ACTIVITIES  --- */
.c-act{
  display: block;
  margin: 0;
  padding: 0 0 0 1rem;
}
.c-act_heading{
  margin: 0.5rem 0 0 0;
  text-align: center;
  font-size: 1.2rem;
}
.c-act_heading-first{
  margin: 0
}

/*  INPUTS  */
.c-act_inputs{
  margin-top: 0.5rem;
  width: 100%;
}
.c-act-input_marg{
  margin-bottom: 0.5rem;
}
#input1, #input2a, #input3a{
  height: 5rem;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 0.3rem;
}
#input2b, #input3b{
  height: 1.7rem;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 0.3rem;
}

/*  BUTTONS  */
.c-act-btn_2, .c-act-btn_3, .c-act-btn_clm{
  background: $color-main;
  border: none;
  color: $color-text-main;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-size: 0.75rem;
}
.c-act-btn_2:hover, .c-act-btn_3:hover, .c-act-btn_clm:hover{
  background: $color-main-darker;
}
.c-act-btn_2:active, .c-act-btn_3:active, .c-act-btn_clm:active{
  transform: translateY(0.15em);
}


@media (max-width: $tablet) { //MOBILE & TABLET
  .c-box{
    margin-bottom: 1rem;
  }
  /*  BUTTONS  */
  .c-act button{
    margin-bottom: 0.5rem;
  }
  .c-act_btns-row{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0 0 0;
  }
  .c-act-btn_2{                 //2 means number of buttons
    width: calc((100% / 2) - 0.25rem);  //half - margin
    min-width: $btn-min-wdt;
  }
  .c-act-btn_marg{
    margin-right: 0.5rem;
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 3) - (1rem / 3));   //third - margin
    min-width: $btn-min-wdt;
  }
  .c-act_btns-column{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0 0 0;       //top and bottom margin are 0.5rem
  }
  .c-act-btn_clm{               //clm means buttons in columns
    width: calc((100% / 2) - (0.5rem / 2));
    min-width: $btn-min-wdt;
  }
}

@media (min-width: 265px) and (max-width: 368px){
  /*  BUTTONS  */
  .c-act-btn_nomarg{
    margin-right: 0 !important;
  }
}

@media (max-width: 368px) {
  /*  BUTTONS  */
  .c-act-btn_3 {   //3 means number of buttons
    width: calc((100% / 2) - 0.25rem); //half - margin
    min-width: $btn-min-wdt;
  }
}

@media (max-width: 264px){
  .c-act-btn_2{   //2 means number of buttons
    width: 100%;
  }
  .c-act-btn_3{   //3 means number of buttons
    width: 100%;
  }
  .c-act-btn_clm{   //clm means buttons in columns
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
}

@media (min-width: $tablet+1px) { //COMPUTER
  .c-content{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(3, auto);
    font-family: Calibri;
  }
  .c-nav{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .c-box{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .c-act{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /*  BUTTONS  */
  .c-act_btns-row{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
  }
  .c-act-btn_2{                 //2 means number of buttons
    width: calc((100% / 2) - (0.5rem / 2));
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 3) - (1rem / 3));
  }
  .c-act_btns-column{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;       //top and bottom margin are 0.5rem
  }
  .c-act-btn_clm{               //clm means buttons in columns
    width: calc((100% / 2) - (0.5rem / 2));
    margin-bottom: 0.5rem;
  }
}

@media (min-width: $tablet+1px) and (max-width: 1000px){
  /*  BUTTONS  */
  .c-act button{
    margin-bottom: 0.5rem;
  }
  .c-act_btns-row{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .c-act-btn_2{
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
  .c-act-btn_3{
    width: 100%;
  }
  .c-act_btns-column{
    display: flex;
    flex-direction: column;
  }
  .c-act-btn_clm{
    width: 100%;
  }
}

@media (min-width: 1000px) and (max-width: 1300px){
  /*  BUTTONS */
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 2) - (0.5rem / 2));
    min-width: $btn-min-wdt;
  }
  .c-act-btn_marg-top{
    margin-top: 0.5rem;
  }
  .c-act_btns-row{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 1500px){
  .c-act-btn_clm{               //clm means buttons in columns
    width: calc((100% / 3) - (1rem / 3));
  }
  .c-act_btns-column{
    justify-content: space-between;
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
}

@media (min-width: $desktop) {
  /*  --- NAV ---  */
  .c-nav_up {
    background: $color-main;
    padding: 0 0.5rem;
  }
  .c-nav_up-li {
    background: $color-main;
    padding: 1.3rem 0;
    a{
      background: $color-main;
      color: $color-text-main ;
      width: 100%;
      height: 100%;
      padding: 1.3rem 0.5rem;
    }
  }
  .c-nav_up-li a:hover{
    color: $color-text-main;
    background: $color-main-darker;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  }
}