
.c-act-btn_2, .c-act-btn_3, .c-act-btn_clm{
  background: $color-main;
  border: none;
  color: $color-text-main;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-size: 0.75rem;
}
.c-act-btn_2:hover, .c-act-btn_3:hover, .c-act-btn_clm:hover{
  background: $color-main-darker;
}
.c-act-btn_2:active, .c-act-btn_3:active, .c-act-btn_clm:active{
  transform: translateY(0.15em);    //click effect
}

@media (max-width: $tablet) { //MOBILE & TABLET
  .c-act button{
    margin-bottom: 0.5rem;
  }
  .c-act_btns-row{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0 0 0;
  }
  .c-act-btn_2{                 //2 means number of buttons
    width: calc((100% / 2) - 0.25rem);  //half - margin
    min-width: $btn-min-wdt;
  }
  .c-act-btn_marg{
    margin-right: 0.5rem;
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 3) - (1rem / 3));   //third - margin
    min-width: $btn-min-wdt;
  }
  .c-act_btns-column{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0 0 0;       //top and bottom margin are 0.5rem
  }
  .c-act-btn_clm{
    width: calc((100% / 2) - (0.5rem / 2));
    min-width: $btn-min-wdt;
  }
}

@media (min-width: 265px) and (max-width: 368px){
  .c-act-btn_nomarg{
    margin-right: 0 !important;
  }
}

@media (max-width: 368px) {
  .c-act-btn_3 {                 //3 means number of buttons
    width: calc((100% / 2) - 0.25rem); //half - margin
    min-width: $btn-min-wdt;
  }
}

@media (max-width: 264px){
  .c-act-btn_2{                 //2 means number of buttons
    width: 100%;
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: 100%;
  }
  .c-act-btn_clm{
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
}

@media (min-width: $tablet+1px) { //COMPUTER
  .c-act_btns-row{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
  }
  .c-act-btn_2{                 //2 means number of buttons
    width: calc((100% / 2) - (0.5rem / 2));
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 3) - (1rem / 3));
  }
  .c-act_btns-column{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;       //top and bottom margin are 0.5rem
  }
  .c-act-btn_clm{
    width: calc((100% / 2) - (0.5rem / 2));
    margin-bottom: 0.5rem;
  }
}

@media (min-width: $tablet+1px) and (max-width: 1000px){
  .c-act button{
    margin-bottom: 0.5rem;
  }
  .c-act_btns-row{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .c-act-btn_2{                 //2 means number of buttons
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
  .c-act-btn_3{                 //3 means number of buttons
    width: 100%;
  }
  .c-act_btns-column{
    display: flex;
    flex-direction: column;
  }
  .c-act-btn_clm{
    width: 100%;
  }
}

@media (min-width: 1000px) and (max-width: 1300px){
  .c-act-btn_3{                 //3 means number of buttons
    width: calc((100% / 2) - (0.5rem / 2));
    min-width: $btn-min-wdt;
  }
  .c-act-btn_marg-top{
    margin-top: 0.5rem;
  }
  .c-act_btns-row{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 1500px){
  .c-act-btn_clm{
    width: calc((100% / 3) - (1rem / 3));
  }
  .c-act_btns-column{
    justify-content: space-between;
    width: 100%;
  }
  .c-act-btn_marg{
    margin-right: 0;
  }
}