
$color-main: #AAE825; //green
//$color-main: #afd275; //light green
//$color-main: #86c232; //green
//$color-main: #9fedd7; //light blue
//$color-main: #b5daeb; //light blue
//$color-main: #fed7a6; //light orange
$color-main-darker: darken($color-main, 7);
$color-text-main: black;
$color-text-invert: white;