
.c-box{
  background: black;
  width: 100%;
  height: 40rem;
}

@media (max-width: $tablet) { //MOBILE & TABLET
  .c-box {
    margin-bottom: 1rem;
  }
}

/*@media (min-width: $tablet+1px) { //COMPUTER    //this code is in .content
  .c-box {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}*/
